/* Fondo oscuro semi-transparente */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.925); /* Fondo negro con opacidad */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal centrado tipo glassmorphism */
.modal-login {
  background: rgba(255, 255, 255, 0.603);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 40px;
  color: white;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0);
  text-align: center;
}

/* Título del formulario */
.modal-login h2 {
  margin-bottom: 25px;
  font-size: 24px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
}

/* Etiquetas */
.modal-login label {
  display: block;
  margin: 15px 0 5px;
  text-align: left;
  font-weight: bold;
}

/* Inputs */
.modal-login input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Botón */
.modal-login button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-login button:hover {
  background-color: #333;
}
